// Site Header
.site-header {
    float: left;
    font-weight: 400;
    position: relative;
    width: 100%;
    nav {
        @include bp-md {
            @include font-size(14px);
            @include bp-sm {
                display: none;
            }
        }
        ul {
            @include font-size(18px);
            align-items: center;
            display: flex;
            justify-content: space-around;
            padding: .5em;
        }
        a {
            color: $white;
        }
    }
    .current-menu-item a, // Wordpress class
    .active a {
        //color: active-colour;
    }
}

.social-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}

.site-header-top {
    background-color: $white;
    float: left;
    position: relative;
    width: 100%;
}

.site-header-bottom {
    background-color: $black;
    float: left;
    position: relative;
    width: 100%;
}
