.btn {
	max-width: 405px;
	display: block;
	padding: 22px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	border-radius: 43px;
	transition: 0.2s linear;

	@include bp($md) {
		padding: 33px;
	}

	&-orange {
		background-color: $c-orange;
		color: #fff;

		&:hover {
			background-color: #fff;
			color: $c-orange;
			cursor: pointer;
		}
	}
}