.intro {
	background-color: $c-blue-light;
	height: 100%;
	min-height: 568px;
	// background-image: url(../assets/img/intro-houses-back.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom center;
	display: none;

	@include bp($md) {
		// background-image: url(../assets/img/intro-houses-front.svg),
		// 			url(../assets/img/intro-houses-back.svg);
	}

	&.active {
		display: block;
	}

	&:before {
		// content
	}

	.content {
		width: 100%;

		&-top {
			height: 50%;
			display: flex;
			align-items: center;
		}

		&-bottom {
			height: 70%;
			width: 100%;
			display: flex;
			align-items: flex-end;
		}

		.content-inner {
			max-width: 474px;
			padding: 20px;
			margin: 0 auto;
			position: relative;

			@media (min-height: 740px) {
				padding: 20px 20px 80px;
			}
		}

		&.houses-back {
			display: flex;
			background-image: url(../assets/img/intro-houses-back.svg);
			background-size: cover;
			background-position: center top;
			position: absolute;
			bottom: 0;
			left: 0;

			&:before {
				display: none;

				@include bp($md) {
					content: "";
					background-image: url(../assets/img/intro-houses-front.svg);
					background-size: cover;
					background-position: center top;
					position: absolute;
					bottom: 0;
					left: 0;
					display: block;
					height: 55%;
					width: 100%;
				}
			}
		}

		// &.houses-front {
		// 	display: none;

		// 	@include bp($md) {
		// 		background-image: url(../assets/img/intro-houses-front.svg);
		// 		background-size: cover;
		// 		background-position: center top;
		// 		position: absolute;
		// 		bottom: 0;
		// 		left: 0;
		// 		display: block;
		// 		height: 40%;
		// 	}
		// }
	}

	.content-inner {

	}

	h1 {
		text-align: center;
		color: $c-blue-dark;
		margin: 0;
		position: relative;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;

		span {
			color: $c-orange;
			display: block;
			background-color: $c-blue-light;
			position: relative;
			z-index: 2;
			padding: 0 20px;
			max-width: 140px;
			margin: 0 auto;

			@include bp($md) {
				max-width: 205px;
			}
		}

		&:after {
			content: "";
			display: block;
			height: 3px;
			width: calc(100% - 40px);
			position: absolute;
			top: 50%;
			left: 20px;
			background-color: $c-orange;
		}
	}

	p {
		color: $c-white;
		text-align: center;
		margin-bottom: calculateRem(18px);
	}

	.btn {
		margin: 0 auto;
		margin-top: 37px;
	}
}