body.overflow {
    overflow: hidden;
}

.mobile-nav-bar {
    background-color: $black;
    display: none;
    float: left;
    height: 50px;
    position: relative;
    width: 100%;
    z-index: $zmobilenavbar;
    @include bp-sm {
        display: block;
    }
    &.fixed {
        left: 0;
        position: fixed;
        top: 0;
        .nav-icon {
            right: 20px;
            transform: translate(0, 0);
        }
    }
}

.mobmen-container {
    float: left;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 50px;
    width: 100%;
}

.mobmen {
    @include font-size(21px);
    background: $black;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    pointer-events: initial;
    position: relative;
    text-align: center;
    top: 0;
    transform: translate(0, -100%);
    transition: all .4s ease-in-out;
    width: 100%;
    z-index: $zmobilemenu;
    @include bp-sm {
        display: block;
    }
    li {
        clear: both;
        display: inline-block;
        margin-right: 0;
        padding-bottom: 1em;
        width: 100%;
        &:first-child {
            padding-top: 1em;
        }
        &:last-child {
            padding-bottom: 2em;
        }
        a {
            color: $white;
        }
    }
}

.overflow-state {
    overflow-y: hidden;
}

.overflow-hidden {
    display: none;
    height: 100%;
    overflow: hidden;
}

.mob-menu-go {
    opacity: 1;
    transform: translate(0, 0);
}

// Hamburger Icon
.nav-icon {
    cursor: pointer;
    display: none;
    height: 19px;
    left: 50%;
    margin-left: 12px;
    position: absolute;
    top: 2px;
    transform: translate(0, 0);
    width: 26px;
    padding: 22px;
    @include bp-sm {
        display: block;
    }
    > div {
        color: $white;
        font-size: 16px;
        font-weight: 500;
        left: -43px;
        line-height: 1;
        position: absolute;
        top: 13px;
    }
    span {
        background: $white;
        border-radius: 1px;
        display: block;
        height: 4px;
        left: 9px;
        position: absolute;
        transition: transform, .25s ease-in-out;
        width: 27px;
        &:nth-child(1) {
            top: 12px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 20px;
        }
        &:nth-child(4) {
            top: 28px;
        }
    }
    &.nav-icon-go span {
        &:nth-child(1),
        &:nth-child(4) {
            left: 50%;
            top: 20px;
            width: 0;
        }
        &:nth-child(2) {
            transform: rotate(45deg) translate(0, 0);
        }
        &:nth-child(3) {
            transform: rotate(-45deg) translate(0, 0);
        }
    }
}

.body-overlay {
    backface-visibility: hidden;
    background-color: rgba($white, .875);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 99px;
    transition: opacity .4s ease-in;
    width: 100%;
    z-index: $zbodyoverlay;
    @include bp-sm {
        display: block;
    }
    &.active {
        opacity: 1;
    }
}
