// Custom styles
.slick-container {
    background-position: center top;
    background-repeat: none;
    background-size: cover;
    color: $white;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}

.slick-slider {
    float: left;
    position: relative;
    width: 100%;
}

[data-sizes="auto"] {
    display: block;
}

// SLick Arrows
.slick-arrow {
    background-color: transparent;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: 20px;
    height: 44px;
    opacity: .8;
    outline: none;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    text-indent: -9999em;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity, .2s ease;
    width: 44px;
    z-index: $zarrows;
    &::before {
        color: $black;
        content: '\276f';
        display: block;
        left: 50%;
        position: absolute;
        text-indent: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        opacity: 1;
    }
}

.slick-prev {
    left: 0;
    &::before {
        content: '\276e';
    }
}

.slick-next {
    right: 0;
}

// Pagination
.slick-dots {
    bottom: 2em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    li {
        float: left;
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        padding-left: 4px;
        padding-right: 4px;
        white-space: nowrap;
    }
    button {
        background-color: $white;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        filter: brightness(100%);
        height: 17px;
        margin: 0;
        outline: none;
        padding: 0;
        // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-indent: -9999em;
        transition: opacity, ease-in-out .25s;
        width: 17px;
    }
}

&.slick-active button {
    filter: brightness(90%);
}
