// Custom styles
.slick-container {
    width: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-position: center top;
    background-repeat: none;
    position: relative;
    color: $white;
    text-align: center;
}

.slick-slider {
    width: 100%;
    float: left;
    position: relative;
}

img[data-sizes="auto"] {
    display: block;
}

// SLick Arrows
.slick-arrow {
    position: absolute;
    text-indent: -9999em;
    top: 50%;
    color: #fff;
    font-size: 20px;
    border: none;
    background-color: transparent;
    z-index: $zarrows;
    width: 44px;
    height: 44px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .8;
    transition: opacity, .2s ease;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    &:before {
        content: "\276f";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        text-indent: 0;
        color: $black;
    }
    &:hover {
        opacity: 1;
    }
}

.slick-prev {
    left: 0;
    &:before {
        content: "\276e";
    }
}

.slick-next {
    right: 0;
}

// Pagination
.slick-dots {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 2em;
}

.slick-dots li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}

.slick-dots button {
    background: $white;
    border-radius: 50%;
    border: none;
    width: 17px;
    height: 17px;
    padding: 0;
    margin: 0;
    display: block;
    text-indent: -9999em;
    transition: opacity, ease-in-out .25s;
    cursor: pointer;
    background-color: #ccc;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    outline: none;
    filter: brightness(100%);
}

&.slick-active button {
    filter: brightness(90%);
}
