// Includes styles that will work when integrated with Contact Forms 7
div.star-rating {
    overflow: hidden;
    position: relative;
}

div.rating-cancel a:before,
div.star-rating a:before {
    content: '\2606';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
    text-indent: 0;
    opacity: .2;
    transition: opacity .2s ease;
}

div.rating-cancel,
div.star-rating {
    cursor: pointer;
    display: block;
    float: left;
    height: 30px!important;
    text-indent: -999em;
    overflow: hidden;
    width: 30px!important;
}

div.rating-cancel a,
div.star-rating a {
    border: none;
    display: block;
    height: 100%;
    width: 30px!important;
    background: none!important;
}

// Hover and selected state
div.star-rating-on a:before,
div.star-rating-hover a:before {
    opacity: 1;
}

.wpcf7-form-control.wpcf7-starrating.starrating {
    vertical-align: top;
}

.starrating_number {
    display: none;
}

.star-rating-review {
    padding: 9px 2.35765% 0;
    display: block;
    float: right;
    @include bp-sm {
        float: left;
        padding: 9px 0 9px 2.35765%;
    }
    div.rating-cancel,
    div.star-rating {
        cursor: default;
    }
}

.wpcf7-form-control .star-rating-control {
    color: #acc961;
}

.star-rating-review .star-rating-control {
    color: $white;
}

@for $a from 1 through 1 {
    .starrating.star-1 .star-#{$a} a:before {
        opacity: 1;
    }
}

@for $b from 1 through 2 {
    .starrating.star-2 .star-#{$b} a:before {
        opacity: 1;
    }
}

@for $c from 1 through 3 {
    .starrating.star-3 .star-#{$c} a:before {
        opacity: 1;
    }
}

@for $d from 1 through 4 {
    .starrating.star-4 .star-#{$d} a:before {
        opacity: 1;
    }
}

@for $e from 1 through 5 {
    .starrating.star-5 .star-#{$e} a:before {
        opacity: 1;
    }
}
