h1 {
	font-family: $f-title;
	font-size: calculateRem(40px);
	line-height: calculateRem(48px);
	text-transform: uppercase;

	span {
		font-family: $f-feature;
		font-size: calculateRem(22px);
		line-height: calculateRem(30px);
		text-transform: lowercase;

		@include bp($md) {
			font-size: calculateRem(40px);
			line-height: calculateRem(70px);
		}
	}

	@include bp($md) {
		font-size: calculateRem(100px);
		line-height: calculateRem(120px);
	}
}

p.large {
	font-family: $f-heading;
	font-size: calculateRem(20px);
	line-height: calculateRem(24px);
}


.btn {
	font-family: $f-title;
}