<section class="intro active">
	<div class="content content-top">
		<h1>Homes <span>across the</span> decades</h1>
	</div>
	<div class="content content-bottom houses-back">
		<div class="content-inner">
			<p class="large">Can you identify these iconic British houses?</p>
			<p>Put your historical knowledge to the test in our interactive quiz exploring British homes through the ages.</p>
			<a class="btn btn-orange">Start quiz</a>
		</div>

	</div>
	<div class="content houses-front"></div>
</section>