<div class="slick-container">
    <div class="lazy-slider">
        <img data-sizes="auto"
        data-src="dist/assets/img/320x150.png"
        data-srcset="dist/assets/img/320x150.png 320w,
        dist/assets/img/768x200.png 768w,
        dist/assets/img/1024x250.png 1024w,
        dist/assets/img/1170x300.png 1170w"
        class="lazyload"
        alt="Descriptive text">
        <img data-sizes="auto"
        data-src="dist/assets/img/320x150.png"
        data-srcset="dist/assets/img/320x150.png 320w,
        dist/assets/img/768x200.png 768w,
        dist/assets/img/1024x250.png 1024w,
        dist/assets/img/1170x300.png 1170w"
        class="lazyload"
        alt="Descriptive text">
    </div>
</div>
