<table border="0" cellpadding="0" cellspacing="0" class="imageBlock grey" style="min-width:100%;overflow: hidden;max-width:640px;" width="100%">
    <tbody class="imageBlockOuter">
        <tr>
            <td class="imageBlockInner" style="padding-bottom:30px" valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="imageContentContainer" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td class="imageContent" style="padding-right: 10px; padding-left: 10px; padding-bottom: 0; text-align:center;" valign="top">
                                <span><img src="https://gallery.mailchimp.com/a8cecbdbda767da129f6e0791/images/d74dfefc-bf88-4ef7-954d-3dfdd39ca810.png" align="middle" alt="" class="image" style="max-width:504px; padding-bottom: 0; display: block !important; vertical-align: bottom;margin:0 auto;" width="504" mc:edit="img_5"> </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
