<table border="0" cellpadding="0" cellspacing="0" class="colouredTextBlock" style="min-width:100%;overflow: hidden;max-width:640px;margin: 0 !important; padding: 0 !important;" width="100%">
    <tbody class="colouredTextBlockOuter">
        <tr>
            <td class="colouredTextBlockInner" style="padding: 0 !important;margin: 0 !important" valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="colouredTextContentContainer" style="min-width:100%;padding: 0 !important;margin: 0 !important" width="100%">
                    <tbody>
                        <tr>
                            <td class="colouredTextContent" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 25px;  text-align:center;" valign="top">
                                <p mc:edit="text_4" style="font-family: 'Montserrat', sans-serif !important;font-weight: 400;font-size: 23px;">
                                    <div style="text-align: center;"><span style="color:#757b83"><span style="font-size:23px">Lorem ipsum dolor sit amet</span></span>
                                    </div>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
