@@include('./partials/_header.html')
	<main class="landing">
		<section class="top-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="sensicare">
							<img src="dist/assets/img/new-sensicare-collection.png" alt="">
						</div>
						<div class="heading">
							<h1>Always ready. Always up to the job.</h1>
						</div>
						<div class="centered-copy">
							<p>We know how it is. From first thing in the morning to last thing at night. the washing machine is on in a non-stop, never-ending battle to keep on top of every heap, basket-full and scrunched-up ball of laundry.</p>
							<p>That’s why every washer or dryer in the new Sensicare collection is specced-up to the eyeballs; with all the clever time-saving features and smart new ideas included to help you get the job done. And they’re built to last too.</p>
							<p>So it doesn’t matter if you’re washing footie kits, drying duvet covers or tidying up after tea (there are a couple of top quality dishwashers in the range too) the Sensicare collection can be your extra pair of hands. Because you’ve always got better things to do with your time… like the ironing.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="background-img">
						<div class="container">
							<div class="row">
								<div class="col-sm-5">
									<div class="colored-block">
										<h2>Placeholder Room Set</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="light-blue-bg colored-section white-copy">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="heading">
										<h2>Always ready. Always up to the job.</h2>
									</div>
									<div class="centered-copy">
										<p>There’s no such thing as a ‘one size fits all’ washing machine. Some big families need a big washing machine that’s going to take some heavy duty work-outs every day of the week. Some people just need a no messing, ‘does the job’ model. And that’s why the Sensicare collection is just that… a range of washing machines taking loads from 7kg to 10kg in their stride, all with an A+++ energy rating. So you just choose the one that’s right for you safe in the knowledge that each and every one of them is bang on the money when it comes to the latest time, energy and money-saving features. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-5 col-sm-4">
									<div class="aligner">
										<img src="dist/assets/img/well-never-get-you-in-a-spin.png" alt="">
									</div>
								</div>
								<div class="col-lg-6 col-md-7 col-sm-8">
									<div class="tables">
										<div class="aligner">
											<ul>
												<li><img src="dist/assets/img/hydrocare.png" alt="Hydrocare Drum"></li>
												<li><img src="dist/assets/img/silentdrive.png" alt="Silentdrive Inverter Motor"></li>
												<li><img src="dist/assets/img/pluswash.png" alt="Pluswash"></li>
												<li><img src="dist/assets/img/timesaver.png" alt="Timesaver"></li>
												<li><img src="dist/assets/img/sensiwash.png" alt="Sensiwash"></li>
											</ul>
											<ul>
												<li><img src="dist/assets/img/energy-rating.png" alt="A+++ Energy Rating"></li>
												<li><img src="dist/assets/img/two-year.png" alt="2 Year Guarantee"></li>
												<li><img src="dist/assets/img/twelve-year.png" alt="12 Year Invertor Motor Guarantee"></li>
											</ul>
										</div>
									</div>
									<div class="btn">
										<a href="#">View</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
@@include('./partials/_footer.html')
