 <!-- FOOTER -->
    <footer>
        <div class="container-fluid newsletter-background">
            <!-- Newsletter strip -->
            	<script type="text/javascript">
		function validate_signup(frm) {
			var emailAddress = frm.Email.value;
			var errorString = '';
			if (emailAddress === '' || emailAddress.indexOf('@') === -1) {
				errorString = 'Please enter your email address';
			}

			var isError = false;
			if (errorString.length > 0)
				isError = true;

			if (isError)
				alert(errorString);
			return !isError;
		}
	</script>
	<div class="container">
		<div class="row desktop-only" id="newsletter-desktop">
			<div class="col-sm-3 news-icon"><img src="http://www.belling.co.uk/media/622967/newsletter.svg" class="svg" alt=""></div>
			<div class="col-sm-3 news-copy">
				<h4>Newsletter</h4>
				<p>Sign up for our newsletter to get the latest news</p>
			</div>
			<div class="col-sm-6 news-form">
				<form action="http://dmtrk.com/signup.ashx" class="navbar-form navbar-right" enctype="multipart/form-data" method="post" onsubmit="return validate_signup(this)">
	            	<input type="hidden" name="addressbookid" value="4366742">
	                <input type="hidden" name="userid" value="16000">
	                <input type="hidden" name="ReturnURL" value="http://www.belling.co.uk/thank-you/">
	                <fieldset>
	                	<span class="input">
	                    	<input id="Email" class="form-control" name="Email" placeholder="Your email address" type="text" value="" />
	                   	</span>
	                    <button type="submit" class="btn btn-default" onclick="_gaq.push(['_trackEvent', 'Information', 'newsletter_signup', 'Newsletter Signup']);">
						Register</button>
					</fieldset>
	         	</form>
			</div>
	</div>
	<div class="row mobile-only" id="newsletter-mobile">
		<div class="col-sm-12 collapse-arrow" data-toggle="collapse" data-target="#news-collapse" aria-expanded="false" aria-controls="news-collapse">
			<div class="h4">Newsletter <span class="icon arr"><img src="http://www.belling.co.uk/media/622947/arrow-down.svg" class="svg" alt=""></span></div>
		</div>
		<div class="col-sm-12 collapse" id="news-collapse">
        	<form action="http://dmtrk.com/signup.ashx" class="navbar-form navbar-right" enctype="multipart/form-data" method="post" onsubmit="return validate_signup(this)">
            	<input type="hidden" name="addressbookid" value="4366742">
                <input type="hidden" name="userid" value="16000">
                <input type="hidden" name="ReturnURL" value="http://www.belling.co.uk/thank-you/">
                <fieldset>
                	<span class="input">
                    	<input id="Email" class="form-control" name="Email" placeholder="Email Address" type="text" value="" />
                   	</span>
                    <button type="submit" class="btn btn-default" onclick="_gaq.push(['_trackEvent', 'Information', 'newsletter_signup', 'Newsletter Signup']);" value="Sign up">
					Submit</button>
				</fieldset>
         	</form>
		</div>
	</div>
</div>


        </div>
        <div class="container-fluid footer-background">
            <div class="container">
                
		<div class="row" id="contact">
      
				<!-- column -->						
				<div class="col-sm-4">
					<div class="mobile-only row">
						<i class="tel-icon fa fa-mobile"></i><span class="h4 tel-title"><a href=tel:03448153746>Customer Care</a></span>
					</div>
					<div class="footer-icon desktop-only">
						<i class="tel-icon fa fa-mobile"></i>
					</div>
					<div class="footer-details">
						<div class="desktop-only">
							<span class="h4">Customer Care</span>
						</div>
						<ul class="desktop-only">
							<li><a class="mob-num-foot" href="/contact">0344 815 3746</a></li>
						</ul>
					</div>
				</div>		
				<!--// column -->
							<!-- column -->						
				<div class="col-sm-4">
					<div class="mobile-only row">
						<i class="tel-icon fa fa-mobile"></i><span class="h4 tel-title"><a href=tel:03442484149>Product Helpline</a></span>
					</div>
					<div class="footer-icon desktop-only">
						<i class="tel-icon fa fa-mobile"></i>
					</div>
					<div class="footer-details">
						<div class="desktop-only">
							<span class="h4">Product Helpline</span>
						</div>
						<ul class="desktop-only">
							<li><a class="mob-num-foot" href="/contact">0344 248 4149</a></li>
						</ul>
					</div>
				</div>		
				<!--// column -->
							<!-- column -->						
				<div class="col-sm-4">
					<div class="mobile-only row">
						<i class="tel-icon fa fa-mobile"></i><span class="h4 tel-title"><a href=tel:03448153745>Spares Store</a></span>
					</div>
					<div class="footer-icon desktop-only">
						<i class="tel-icon fa fa-mobile"></i>
					</div>
					<div class="footer-details">
						<div class="desktop-only">
							<span class="h4">Spares Store</span>
						</div>
						<ul class="desktop-only">
							<li><a class="mob-num-foot" href="/contact">0344 815 3745</a></li>
						</ul>
					</div>
				</div>		
				<!--// column -->
			<div class="col-sm-12 col-xs-12">				
				<ul class="desktop-only text-center">
					<li><a href="/contact">For opening hours or to contact us please <strong>click here</strong></a></li>
				</ul>
			</div>
		</div>			


                <!--// OUTRO STRIP(Contact Info) -->
                <div class="full-divide"></div>
                <!-- ROW -->
                <div class="row" id="customer-care">
                    
<!-- loadin it Customer Care True-->
        <div class="col-sm-3">
            <h4>
                <span class="desktop-only"> Customer Care</span>
                <a class="mobile-only" href="/customer-care"> Customer Care</a>
            </h4>
            <ul class="desktop-only">
							<li>
								<a href="/customer-care/"  >
									FAQ
								</a>
							</li>
							<li>
								<a href="http://www.gdhaonline.co.uk/Belling/Spare-Parts.aspx"  >
									Spares Store
								</a>
							</li>
							<li>
								<a href="http://www.gdhaonline.co.uk/Belling/Products.aspx"  >
									Outlet Store
								</a>
							</li>
							<li>
								<a href="/warranty/"  >
									Warranty
								</a>
							</li>
							<li>
								<a href="/contact/"  >
									Ask a Question
								</a>
							</li>
							<li>
								<a href="/customer-care/"  >
									Manuals
								</a>
							</li>
							<li>
								<a href="/repairs/"  >
									Repairs
								</a>
							</li>
            </ul>
        </div>
            <div class="col-sm-3">
            <h4>
                <span class="desktop-only"> Site Information</span>
                <a class="mobile-only" href="/sitemap"> Site Information</a>
            </h4>
            <ul class="desktop-only">
                        <li>
                            <a href="/content-sitemap/"  >
                                Sitemap
                            </a>
                        </li>
                        <li>
                            <a href="/where-to-buy/"  >
                                Where To Buy
                            </a>
                        </li>
                        <li>
                            <a href="/brochure/"  >
                                Brochures
                            </a>
                        </li>
                        <li>
                            <a href="/terms-and-conditions/"  >
                                Terms &amp; Conditions
                            </a>
                        </li>
                        <li>
                            <a href="/cookies-privacy-policy/"  >
                                Cookies &amp; Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="/safety-notice/"  >
                                Safety Notice
                            </a>
                        </li>
                        <li>
                            <a href="http://www.bellingcookshop.co.uk/"  >
                                Cookshop
                            </a>
                        </li>
                        <li>
                            <a href="/our-awards/"  >
                                Our Awards
                            </a>
                        </li>
                        <li>
                            <a href="/green-policy/"  >
                                Green Policy
                            </a>
                        </li>
                        <li>
                            <a href="/responsible-recycling/"  >
                                Responsible Recycling
                            </a>
                        </li>

            </ul>
        </div>
            <div class="col-sm-3">
            <h4>
                <span class="desktop-only"> About Us</span>
                <a class="mobile-only" href="/our-history"> About Us</a>
            </h4>
            <ul class="desktop-only">
                        <li>
                            <a href="/our-history/"  >
                                Our History
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gdha.com/International-Distributors/"  >
                                International Distributors
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gdha.com/Careers/"  >
                                Careers
                            </a>
                        </li>
                        <li>
                            <a href="/made-in-britain/"  >
                                Made In Britain
                            </a>
                        </li>
                        <li>
                            <a href="/conversation/events/"  >
                                What&#39;s On
                            </a>
                        </li>

            </ul>
        </div>

                            <div class="col-sm-3" id="home-social">


                <h4 class="desktop-only">Social</h4>
            
                <a href="https://twitter.com/BellingUK" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-twitter"></i>
                </a>
                            <a href="https://www.facebook.com/BellingUK/" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-facebook"></i>
                </a>
                                                    <a href="https://www.pinterest.com/BellingUK/" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-pinterest"></i>
                </a>
                                                                            <a href="https://www.youtube.com/user/BellingAppliances/" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-youtube"></i>
                </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <!-- COMPANY DETAILS -->
                        <div class="row copy-text">
            <div class="col-sm-6 col-xs-12 f-img">
                    <img id="queen-footer" class="svg" src="http://www.belling.co.uk/media/622972/queens-award-footer.svg">
                                    <img id="made-footer" class="svg" src="http://www.belling.co.uk/media/622964/made-in-britain-footer.svg">
            </div>
                <div class="col-sm-6 col-xs-12 f-text">
                    <p class="mobile-only">&copy; 2016 GDHA</p>
                    <p class="desktop-only">&copy; 2016 Belling, a Glen Dimplex Home Appliances Company</p>
                </div>
        </div>

                <!--// COMPANY DETAILS -->
            </div>
        </div>
    </footer>
    <!--// FOOTER -->
    <!-- BACK TO TOP -->
    
    <!--// BACK TO TOP -->
</div>

    <p id="back-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
    </p>
</body>
<!--// SITE -->

<script>
	$( ".navLink" ).mouseover(function() {
		var img = document.getElementById("rollOver");
		img.src = this.getAttribute("src");
	});
</script>
<!-- SCRIPTS -->

<script id="reevoomark-loader">    
        var trkref = 'GDH';
        var myscript = document.createElement('script');
        myscript.type = 'text/javascript';
        myscript.src = ('http://mark.reevoo.com/reevoomark/' + trkref + '.js?async=true');
        var s = document.getElementById('reevoomark-loader');
        s.parentNode.insertBefore(myscript, s);
</script>
<script type="text/javascript">
var __lc = {};
__lc.license = 4495851;
__lc.group = 1;
 
(function() {
                var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
                lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<script type="text/javascript">
var _gas = _gas || [];
_gas.push(['_setAccount', 'UA-19345899-1']); // REPLACE WITH YOUR GA NUMBER
_gas.push(['_setDomainName', '.belling.com']); // REPLACE WITH YOUR DOMAIN
_gas.push(['_setAllowLinker', true]); 
_gas.push(['_trackPageview']);
_gas.push(['_gasTrackForms']);
_gas.push(['_gasTrackOutboundLinks']);
_gas.push(['_gasTrackMaxScroll']);
_gas.push(['_gasTrackDownloads']);
_gas.push(['_gasTrackYoutube', {
    force: true
}]);
_gas.push(['_gasTrackVimeo', {
    force: true
}]);
_gas.push(['_gasTrackMailto']);

(function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = '//cdnjs.cloudflare.com/ajax/libs/gas/1.10.1/gas.min.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
})();
</script>
<script src="http://www.belling.co.uk/scripts/bootstrap.min.js"></script>
<script src="http://www.belling.co.uk/scripts/modernizr.js"></script>
<script src="http://www.belling.co.uk/scripts/popup.js"></script>
<script src="http://www.belling.co.uk/scripts/scripts.js"></script>
<script src="http://www.belling.co.uk/scripts/plugins.js"></script>
<script src="http://www.belling.co.uk/scripts/application.js"></script>
<script src="http://www.belling.co.uk/scripts/slimmage.min.js"></script>
<script src="http://www.belling.co.uk/scripts/jquery.unobtrusive-ajax.min.js"></script>	
<script src="http://www.belling.co.uk/scripts/jquery.validate.min.js"></script>
<script src="http://www.belling.co.uk/scripts/jquery.validate.unobtrusive.min.js"></script>	
<!-- CDF: No JS dependencies were declared //-->
</html>