<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Page Title</title>
    <meta name="description" content="Page Description" />
    <meta name="viewport" content="width=device-width">
    <!-- Generate all favicons at http://realfavicongenerator.net/ -->
    <!-- Remove unused font styles/weights -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="site-header">
        <!-- Emmet example of the below "nav>ul>li*6>a[href="#"]{NaviLink}" -->
        <div class="site-header-top">
            <div class="social-wrapper">
                @@include('./modules/_social-icons.html')
            </div>
        </div>
        <div class="site-header-bottom">
            <nav>
                <ul class="menu">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Departments</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div id="navbar" class="mobile-nav-bar">
                <div class="mobmen-container"></div>
                <div class="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div>Menu</div>
                </div>
            </div>
        </div>
    </header>
