// Rem caculation and auto line height
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin font-size($size, $line: $size * 1.5) {
  font-size: $size;
  line-height: $line;
  font-size: calculateRem($size);
}

// Fonts
// List all weights here e.g. 400i, 400, 500, 700
@mixin google-font($weight: 400, $style: normal) {
  font-family: 'Google Font', serif;
  font-weight: $weight;
}

// Font smoothing
@mixin font-smoothing($value: antialiased) {
  @if $value==antialiased {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

// Remove tap highlight on touch devices
@mixin remove-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
  outline: none;
}

// Transitions
@mixin transition($type: transform, $speed: .2s, $easing: ease) {
  will-change: $type;
  backface-visibility: hidden;
  transition: $type $speed $easing;
  &:hover,
  &:active {
    filter: brightness(1.05);
  }
}
