@@include('./partials/_header.html')

    <!-- *********************** //-->
    <!-- Full width banner image //-->
    <!-- *********************** //-->
    @@include('./partials/_repeat-open.html', {
        "bgc": "none",
        "variant": "Full width banner image",
        "paddingTop": "0",
        "paddingBottom": "0"
    })
        @@include('./partials/components/_banner.html')
    @@include('./partials/_repeat-close.html')

    <!-- ********************************** //-->
    <!-- Full width banner image no padding //-->
    <!-- ********************************** //-->
    @@include('./partials/components/_banner.html', {
        "variant": "Full width banner image no padding"
    })

    <!-- *************************** //-->
    <!-- Large heading copy and link //-->
    <!-- *************************** //-->
    @@include('./partials/_repeat-open.html', {
        "bgc": "none",
        "variant": "Large heading copy and link",
        "paddingTop": "10px",
        "paddingBottom": "0"
    })
        @@include('./partials/components/_large-heading.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')

    @@include('./partials/_repeat-open.html', {
        "bgc": "#f3f4f6",
        "variant": "Grey background - Large heading copy and link",
        "paddingTop": "20px",
        "paddingBottom": "40px"
    })
        @@include('./partials/components/_large-heading.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')


    <!-- ********************************** //-->
    <!-- Two images with logo copy and link //-->
    <!-- ********************************** //-->
    @@include('./partials/_repeat-open.html', {
        "bgc": "none",
        "variant": "Two images with logo copy and link",
        "paddingTop": "10px",
        "paddingBottom": "0"
    })
        @@include('./partials/components/_two-images.html')
        @@include('./partials/components/_logo.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')

    @@include('./partials/_repeat-open.html', {
        "bgc": "#f3f4f6",
        "variant": "Grey background - Two images with logo copy and link",
        "paddingTop": "20px",
        "paddingBottom": "40px"
    })
        @@include('./partials/components/_two-images.html')
        @@include('./partials/components/_logo.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')


    <!-- ***************************************** //-->
    <!-- Centralised image with logo copy and link //-->
    <!-- ***************************************** //-->
    @@include('./partials/_repeat-open.html', {
        "bgc": "none",
        "variant": "Centralised image with logo copy and link",
        "paddingTop": "10px",
        "paddingBottom": "0"
    })
        @@include('./partials/components/_centralised-image.html')
        @@include('./partials/components/_logo.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')

    @@include('./partials/_repeat-open.html', {
        "bgc": "#f3f4f6",
        "variant": "Grey background - Centralised image with logo copy and link",
        "paddingTop": "20px",
        "paddingBottom": "40px"
    })
        @@include('./partials/components/_centralised-image.html')
        @@include('./partials/components/_logo.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')


    <!-- **************************************** //-->
    <!-- Full width image with logo copy and link //-->
    <!-- **************************************** //-->
    @@include('./partials/_repeat-open.html', {
        "bgc": "none",
        "variant": "Full width image with logo copy and link",
        "paddingTop": "10px",
        "paddingBottom": "0"
    })
        @@include('./partials/components/_full-width-image.html')
        @@include('./partials/components/_logo.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')

    @@include('./partials/_repeat-open.html', {
        "bgc": "#f3f4f6",
        "variant": "Grey background - Full width image with logo copy and link",
        "paddingTop": "20px",
        "paddingBottom": "40px"
    })
        @@include('./partials/components/_full-width-image.html')
        @@include('./partials/components/_logo.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')

    <!-- ************************************************* //-->
    <!-- Full width image with small heading copy and link //-->
    <!-- ************************************************* //-->
    @@include('./partials/_repeat-open.html', {
        "bgc": "none",
        "variant": "Full width image with small heading copy and link",
        "paddingTop": "0px",
        "paddingBottom": "0"
    })
        @@include('./partials/components/_full-width-image.html')
        @@include('./partials/components/_small-heading.html')
        @@include('./partials/components/_copy.html')
        @@include('./partials/components/_link.html')
    @@include('./partials/_repeat-close.html')

    @@include('./partials/_repeat-open.html', {
        "bgc": "#f3f4f6",
        "variant": "Grey background - Full width image with small heading copy",
        "paddingTop": "20px",
        "paddingBottom": "10px"
    })
        @@include('./partials/components/_full-width-image.html')
        @@include('./partials/components/_small-heading.html')
        @@include('./partials/components/_copy.html')
    @@include('./partials/_repeat-close.html')

@@include('./partials/_footer.html')
