<table class="imageBlock" mc:variant="@@variant" mc:repeatable="content" style="min-width:100%;width: 100%;padding: 0 !important;margin: 0 !important" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody class="imageBlockOuter">
        <tr>
            <td align="center" style="padding-bottom: 0; margin: 0 !important;width:100%" class="imageBlockInner" valign="top">
                <table class="imageContentContainer" style="min-width:100%;padding: 0 !important;margin: 0 !important" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="imageContent" style="width:100%;padding: 0 !important;margin: 0 !important; border: none; text-align:center;" align="center" valign="top">
                                <span style="width:100%;display: block;border:none;outline: none;" class=""><a href="https://www.phcompany.com/principal" target="_blank"></a><a href="https://www.phcompany.com/principal" target="_blank" mc:edit="img_12120"><img src="https://gallery.mailchimp.com/a8cecbdbda767da129f6e0791/images/faa9d7fb-3c62-4a8b-a143-73345448b3ae.png" alt="" border="0" style="margin: 0; padding: 0;"></a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
