<table class="textBlock" style="min-width:100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody class="textBlockOuter">
        <tr>
            <td style="padding-bottom:30px" class="textBlockInner" valign="top">
                <table class="textContentContainer" style="min-width:100%;font-family: 'Fanwood Text',serif !important;" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="50" class="m-hide" style="width: 50px;">&nbsp;</td>
                            <td width="20" style="width: 20px;">&nbsp;</td>
                            <td mc:edit="text_5" align="center" style="font-size:14px; line-height:21px;-line-height-rule: exactly;width: 400px;font-family: 'Fanwood Text',serif !important;font-weight: 400;" valign="top" width="400" class="columnWrapper padding-bottom-20"><span style="color:#757b83">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique nibh sed turpis aliquam sagittis. Sed vehicula, risus et faucibus pharetra, felis turpis venenatis nisi, quis volutpat magna mi ut risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum elit sed aliquet commodo. Etiam vitae lorem felis. Donec eleifend fermentum varius.</span></td>
                            <td width="20" style="width: 20px;">&nbsp;</td>
                            <td width="50" class="m-hide" style="width: 50px;">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
