<table border="0" cellpadding="0" cellspacing="0" class="colouredTextBlock" style="min-width:100%;margin-top:0;overflow: hidden;max-width:640px;" width="100%">
    <tbody class="colouredTextBlockOuter">
        <tr>
            <td class="colouredTextBlockInner" style="padding-top:0;padding-bottom:30px;padding-left:15px;padding-right:15px" valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="colouredTextContentContainer" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td class="colouredTextContent" style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; text-align:center;" valign="top">
                                <p style="margin:0;">
                                    <span><img src="https://gallery.mailchimp.com/a8cecbdbda767da129f6e0791/images/2325b1c4-4e4e-4c6d-9933-a73233087502.png" alt="" mc:edit="img_4"></span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
