<table border="0" cellpadding="0" cellspacing="0" class="colouredTextBlock" style="min-width:100%;margin-top:0px;margin-bottom: 0; overflow: hidden;max-width:640px;" width="100%">
    <tbody class="colouredTextBlockOuter">
        <tr>
            <td class="colouredTextBlockInner" style="text-align: center; padding-bottom: 20px;padding-top:0;color: #757b83;" valign="top">
                <p style="font-size: 18px; font-family: 'Montserrat', sans-serif !important;font-weight: 400;" mc:edit="text_10">Lorem ipsum dolor sit amet
                </p>
            </td>
        </tr>
    </tbody>
</table>
