<table class="repeatable-table" mc:variant="Spacer" mc:repeatable="content" border="0" cellpadding="0" style="min-width:100%;overflow: hidden;max-width:640px;" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="padding-bottom:40px;">
                <table border="0" cellpadding="0" style="background-color: #fff;min-width:100%;overflow: hidden;max-width:640px;" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="padding-top:0;padding-bottom:0;">

<table border="0" cellpadding="0" cellspacing="0" style="" width="100%">
    <tbody>
        <tr>
            <td height="40" style="line-height: 0; padding:0px" valign="top"></td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

