<table border="0" cellpadding="0" cellspacing="0" class="headerTableBlock" style="min-width:100%;overflow: hidden;max-width:640px;" width="100%">
    <tbody class="headerTableBlockOuter">
        <tr>
            <td class="headerTableBlockInner" style="padding:0px" valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="headerTableContentContainer" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td class="headerTableContent" style="padding-right: 19px; padding-left: 19px; padding-bottom: 30px; text-align:center;font-size:14px;" valign="top">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width=" 100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table class="two-img-block-wrapper" align="left" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" class="first" style="padding:0px 13px 0px 0px;" valign="top" width="50%">
                                                                <span><img src="https://gallery.mailchimp.com/a8cecbdbda767da129f6e0791/images/dc6f14a9-8a73-4731-a1f4-14783dee6256.png" align="middle" alt="" class="image" style="max-width:294px; padding-bottom: 0; display: block !important; vertical-align: bottom;text-align:left;" width="294" mc:edit="img_2"></span>
                                                            </td>
                                                            <td align="center" class="second" style="" valign="middle" width="50%">
                                                                <span><img src="https://gallery.mailchimp.com/a8cecbdbda767da129f6e0791/images/dc6f14a9-8a73-4731-a1f4-14783dee6256.png" align="middle" alt="" class="image" style="max-width:294px; padding-bottom: 0; display: block !important; vertical-align: bottom;text-align:right;" width="294" mc:edit="img_3"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
