body {
    @include font-size(16px);
    @include font-smoothing;
    @include arial(500);
    color: $black;
    background-color: #ccc;
}

// Copy
h1,
h2,
h3 {
    @include font-size-heading(50px);
    margin-bottom: .75em;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    @include bp-lg {
        @include font-size-heading(40px);
    }
    @include bp-sm {
        @include font-size-heading(34px);
    }
}

h2 {
    @include font-size-heading(30px);
    margin-bottom: .25em;
    @include bp-lg {
        @include font-size-heading(24px);
    }
}

h3 {
    @include font-size-heading(24px);
    margin-bottom: .25em;
    @include bp-lg {
        @include font-size-heading(20px);
    }
}

p {
    margin-bottom: 1.5em;
    &:last-child {
        margin-bottom: 0;
    }
}

// Buttons
.btn {
    @include font-size(16px);
    background-color: $black;
    color: $white;
    padding: .65em 3.5em;
    border-radius: 5px;
    margin-right: 1em;
    display: block;
    float: left;
    transition: filter .3s ease;
    // -webkit-tap-highlight-color: $black;
    cursor: pointer;
    filter: brightness(100%);
    @include bp-sm {
        padding: .25em 2.07em;
    }
    &:hover,
    &:active {
        filter: brightness(90%);
    }
    &:last-of-type {
        margin-right: 0;
    }
}

// Links with expanding underline animation
.animate-inline {
    position: relative;
    a {
        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 1px;
            width: 0px;
            background: transparent;
            transition: width .3s ease, background-color .3s ease;
        }
        &:hover:after {
            width: 100%;
            background: $white;
        }
    }
    &.current-menu-item {
        a:hover:after {
            background-color: $black;
        }
    }
}

.animate-inline {
    display: inline-block;
}

// Lazy loading animations
.teaser.lazyload {
    opacity: 0;
    transform: scale(.75);
}

.teaser.lazyloaded {
    opacity: 1;
    transform: scale(1);
    transition: all 750ms;
}

// SVGs
.social-icon {
    display: block;
    float: left;
    margin: 10px 0 10px 10px;
    svg {
        max-width: 100%;
        width: 30px;
        height: 30px;
        display: block;
        path {
            fill: $black;
        }
    }
}
